[MASTER]
ignore=venv,migrations
load-plugins=pylint_django
django-settings-module=backend.settings

[MESSAGES CONTROL]
disable=
    missing-docstring,
    invalid-name,
    no-member,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-instance-attributes,
    too-many-branches,
    too-many-statements,
    duplicate-code,
    broad-exception-caught,
    line-too-long,
    useless-super-delegation

[FORMAT]
max-line-length=120

[DESIGN]
max-args=10
max-locals=20
max-branches=15
max-statements=50

[TYPECHECK]
ignored-classes=QuerySet,Manager,Model,ForeignKey

[REPORTS]
output-format=colorized
reports=no
score=no
