<ul class="problems-list">
  {{#each this}}
  <li class="problems-list-item slide-problem-item">
    <article class="problem-card">
      <h3 class="problems-card-title">{{this.title}}</h3>
      <div id="problems-card-image-tmb" class="problems-card-image-thumb"></div>
      <p class="problems-card-text">{{this.description}}</p>
    </article>
  </li>
  {{/each}}
</ul>
