<div class="problems-card3-img-thumb">
  <ul class="problems-card3-list">
    <li class="problems-card3-list-item">
      <div class="problems-card3-list-img-thumb">
        <svg width="24" height="24" aria-hidden="true">
          <use href="./src/img/sprite.svg#icon-clock"></use>
        </svg>
      </div>
      <div>Arbeit</div>
    </li>
    <li class="problems-card3-list-item">
      <div class="problems-card3-list-img-thumb">
        <svg width="24" height="24" aria-hidden="true">
          <use href="./src/img/sprite.svg#icon-flight"></use>
        </svg>
      </div>
      <div>Verschicken</div>
    </li>
    <li class="problems-card3-list-item">
      <div class="problems-card3-list-img-thumb">
        <svg width="24" height="24" aria-hidden="true">
          <use href="./src/img/sprite.svg#icon-trash"></use>
        </svg>
      </div>
      <div>Papierkorb</div>
    </li>
</ul>
</div>
