<div class="problems-card1-img-thumb">
  <div class="problems-card1-img-content">
    <svg width="128" height="128" aria-hidden="true">
      <use href="./src/img/sprite.svg#icon-user"></use>
    </svg>
  </div>
  <ul class="problems-card1-euro-list">
    <li class="problems-card1-euro-item">€</li>
    <li class="problems-card1-euro-item">€</li>
    <li class="problems-card1-euro-item">€</li>
    <li class="problems-card1-euro-item">€</li>
    <li class="problems-card1-euro-item">€</li>
  </ul>
</div>
