<div class="problems-card2-img-thumb">
  <div class="problems-card2-container">
    <div class="problems-card2-img-content">
      <svg width="24" height="24" aria-hidden="true">
        <use href="./src/img/sprite.svg#icon-call"></use>
      </svg>
    </div>
    <ul class="problems-card2-user-list">
      <li class="problems-card2-user-item">
        <svg width="128" height="128" aria-hidden="true">
          <use href="./src/img/sprite.svg#icon-user"></use>
        </svg>
      </li>
      <li class="problems-card2-user-item">
        <svg width="128" height="128" aria-hidden="true">
          <use href="./src/img/sprite.svg#icon-user"></use>
        </svg>
      </li>
      <li class="problems-card2-user-item">
        <svg width="128" height="128" aria-hidden="true">
          <use href="./src/img/sprite.svg#icon-user"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
