.section-faq {
  display: flex;
  flex-flow: column;
  flex: none;
  place-content: flex-start;
  align-items: stretch;
  gap: 100px;
  width: 100%;
  height: min-content;
  padding: 64px 0;
  position: relative;
  overflow: visible;
  background-color: var(--bgcolor-secondary);

  @media (min-width: 780px) {
    gap: 70px;
  }
}

.faq-container {
  padding: 0 30px;

  @media only screen and (min-width: 768px) {
    padding: 0 50px;
  }

  @media only screen and (min-width: 1280px) {
    padding: 0 120px;
  }
}

.faq-line {
  will-change: transform;
  z-index: 1;
  background-color: var(--bgcolor-primary);
  border-radius: 1px;
  flex: none;
  height: 10px;
  position: absolute;
  top: -1px;
  left: 1px;
  right: 1px;
  overflow: hidden;
}

.faq-container {
  display: flex;
  flex-flow: column;
  flex: none;
  place-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 1440px;
  height: min-content;
  position: relative;
  overflow: visible;

  @media (min-width: 1200px) {
    flex-direction: row;
    gap: 60px;
  }
}

.faq-left {
  display: flex;
  flex-flow: column;
  flex: 1 0 0;
  place-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  height: min-content;
  padding: 0;
  position: relative;
  overflow: visible;

  @media (min-width: 1200px) {
    min-width: 450px;
  }
}

.faq-content {
  flex-flow: column;
  flex: none;
  place-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  height: min-content;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.faq-top {
  flex-flow: column;
  flex: none;
  place-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  padding: 0;
  display: flex;
  position: relative;
  overflow: visible;
}

.faq-dark-tag {
  display: inline-block;
  z-index: 2;
  will-change: transform;
  padding: 5px 13px;
  border-width: 1px;
  border-color: var(--border-color, rgba(255, 255, 255, 0.05));
  border-style: var(--border-style, solid);
  backdrop-filter: blur(5px);
  background-color: var(
    --token-8027bd57-58d1-44d0-b4e2-d8a3f299de67,
    rgba(0, 0, 0, 0.5)
  );
  background: radial-gradient(50% 50%, rgb(9, 13, 18) 0%, rgb(9, 13, 18) 100%);
  box-shadow: rgb(0, 85, 255, 0.1) 0px 10px 10px -1px inset;
  opacity: 1;
  border-radius: 10px;
  transition: background 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background: radial-gradient(
      60% 20% at 50% 100%,
      var(--token-448be32f-5ce2-4083-9bd4-714d017438ce) 0%,
      var(--token-8967b5b7-ba7d-4206-8bde-e6f934ca98d8) 100%
    );
    box-shadow: 0 0 3px rgba(rgb(var(--token-rgb-primary)) 0.6);
  }
}

@keyframes rotateSpark {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.faq-text {
  font-size: var(--fs-normal);
  line-height: 26px;
  color: var(--color-text-white);
}

.faq-title-h2 {
  line-height: 1.1em;
  opacity: 0;
  transform: translate3d(-50%, 0, 120px) scale(0.5);
  transition: all 1.2s ease-out;
  transition-delay: 1s;
  text-shadow: 1px 1px var(--color-text-black),
    1px 1px 0 var(--token-448be32f-5ce2-4083-9bd4-714d017438ce),
    2px 2px 0 var(--color-text-black);
  text-align: left;

  @media (min-width: 1200px) {
    min-width: 450px;
    white-space: no-wrap;
    word-break: break-word;
    word-wrap: break-word;
  }
}

.faq-span-h2 {
  display: inline-block;
  opacity: 1;
  filter: blur(0px);
  transform: none;
  will-change: transform;
  color: var(--color-text-black);
  text-shadow: 1px 1px var(--token-448be32f-5ce2-4083-9bd4-714d017438ce),
    1px 1px 0 var(--token-448be32f-5ce2-4083-9bd4-714d017438ce),
    2px 1px 0 var(--color-text-black);
}

.faq-text-base {
  line-height: 1.4em;
  text-align: start;
  text-shadow: 0.5px 0 var(--color-text-black);

  @media (min-width: 1200px) {
    font-size: var(--fs-big);
  }
}

.faq-right {
  display: flex;
  /* position: relative; */
  flex-flow: column;
  place-content: flex-start;
  gap: 24px;
  width: 100%;
  height: min-content;
  padding: 0;
  align-items: flex-start;
  overflow: visible;

  @media (min-width: 1200px) {
    width: 692px;
  }
}

.faq-accordion {
  cursor: pointer;
  will-change: transform;
  display: flex;
  flex-flow: column;
  place-content: flex-start;
  align-items: flex-start;
  gap: 0;
  padding: 25px;
  width: 100%;
  height: min-content;
  border-radius: 20px;
  background-color: var(
    --token-8967b5b7-de7d-4207-8bde-e6f934ca98d8,
    rgb(8, 8, 8)
  );
  transform-origin: 50% 50% 0px;
  overflow: hidden;
  will-change: auto;
  position: relative;
  z-index: 1;
  font-size: var(--fs-normal);
}

.faq-accordion {
  opacity: 0;
  scale: 0.2;
  transform: translate(150%, 100px);
  transition: opacity 1s ease, scale 1s ease, transform 1s ease;
}

.faq-accordion.visible {
  opacity: 1;
  scale: 1;
  transform: translate(0);

  &:hover {
    box-shadow: 0 0 0 2px var(--token-eb7b6d97-3952-433e-81bb-c192cbbf1822);
    background: radial-gradient(
      60% 20% at 50% 100%,
      var(--token-448be32f-5ce2-4083-9bd4-714d017438ce) 0%,
      var(--token-8967b5b7-ba7d-4206-8bde-e6f934ca98d8) 100%
    );
  }
}

.faq-accordion.open {
  gap: 17px;
  /* border-radius: 8px; */
  box-shadow: 0 0 0 4px var(--token-eb7b6d97-3952-433e-81bb-c192cbbf1822);

  &:hover {
    background: radial-gradient(
      60% 20% at 50% 100%,
      var(--token-448be32f-5ce2-4083-9bd4-714d017438ce) 0%,
      var(--token-8967b5b7-ba7d-4206-8bde-e6f934ca98d8) 100%
    );
  }
}

.faq-accordion-toggle {
  flex-flow: wrap;
  flex: none;
  cursor: pointer;
  place-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: min-content;
  padding-block: 7.5px;
  display: flex;
  position: relative;
  overflow: visible;
  transform: none;
  transform-origin: 50% 50% 0px;
  background-color: inherit;
  color: var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4);
}

.faq-accordion::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(var(--token-rgb-secondary), 0.2) 0%,
    var(--token-eb7b6d97-3952-433e-81bb-c192cbbf1822) 50%,
    rgba(var(--token-rgb-secondary), 0.2) 100%
  );
}

.faq-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 20px;
}

.faq-accordion-content.open {
  max-height: 1000px;
  padding-bottom: 16px;
}

.faq-icon {
  aspect-ratio: 1;
  height: 24px;
  flex: none;
  width: 24px;
  position: relative;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-accordion.open .faq-icon {
  transform: rotate(22.5deg);
  color: var(--token-eb7b6d97-3952-433e-81bb-c192cbbf1822);
}

.faq-accordion-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: none;
  /* white-space: pre-wrap; */
  word-break: break-word;
  word-wrap: break-word;
  text-align: start;
  flex: 1 0 0;
  width: 100%;
  height: auto;
  font-size: var(--fs-normal);
  font-weight: var(--fw-semiBold);
  line-height: 1.4em;
}

.faq-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.spark {
  --spark-width: 20px;
  --spark-height: 2px;
  --border-width: 2px;

  position: absolute;
  width: var(--spark-width);
  height: var(--spark-height);
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4) 10%,
    var(--token-shark-yel) 20%,
    var(--token-96e3aee0-df31-47ca-b20e-57841f0289ac) 35%,
    var(--token-448be32f-5ce2-4083-9bd4-714d017438ce) 45%,
    var(--token-eb7b6d97-3952-433e-81bb-c192cbbf1822) 50%,
    var(--token-448be32f-5ce2-4083-9bd4-714d017438ce) 55%,
    var(--token-96e3aee0-df31-47ca-b20e-57841f0289ac) 65%,
    var(--token-shark-yel) 80%,
    var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4) 90%,
    transparent 100%
  );
  border-radius: 2px;
  opacity: 0;
}

.spark.active {
  animation: moveSpark 1.5s linear infinite, pulsate 1s ease-in-out infinite;
  z-index: 10;
}

@keyframes pulsate {
  0%,
  100% {
    opacity: 0.9;
    filter: brightness(1);
  }
  50% {
    opacity: 1;
    filter: brightness(1.3);
  }
}

@keyframes moveSpark {
  0% {
    top: calc(100% - var(--border-width) / 2 - var(--spark-height) / 2);
    left: 0;
    transform: rotate(0deg);
  }
  100% {
    top: calc(100% - var(--border-width) / 2 - var(--spark-height) / 2);
    left: calc(100% - var(--spark-width));
    transform: rotate(0deg);
  }
}
