#footer {
    padding: 20px 0;
    background-color: var(--bgcolor-secondary);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-grid-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;

    font-size: var(--fs-normal);
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-text-primary);
}

.footer-grid-container>div,
.footer-grid-container>ul {
    text-align: center;
}

.footer-logo-div {
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.footer-logo-img {
    height: 50px;
    display: block;
}

.footer-links-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer-link {
    color: var(--color-text-secondary);
    text-decoration: none;
    vertical-align: middle;
}

.it-hub-logo {
    height: 24px;
    width: auto;
    vertical-align: middle;
    border-radius: 4px;
}

.footer-page-design-by a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.footer-media-icons {
    color: var(--color-text-primary);
    font-weight: var(--fw-medium);
}

.desktop-line-divider {
    display: none;
}

@media screen and (min-width: 810px) {
    .footer-grid-container {
        grid-template-rows: auto;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-evenly;
    }

    .footer-links-container {
        grid-area: 1 / 2;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    .footer-page-design-by {
        grid-area: 1 / 1;
    }

    .footer-media-icons {
        grid-area: 1 / 3;
        color: var(--color-text-primary);
    }

    .footer-logo-img {
        height: 60px;
        padding-right: 8px;
    }

    .desktop-line-divider {
        display: flex;
    }
}

.icons-sprite {
    width: 36px;
    height: 35px;
    background-image: url('../img/social-media-orange-square.png');
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 4px;
    background-size: calc(850px / 5) calc(800px / 5);
}

.icon-fb {
    background-position: -9px -8px;
}

.icon-instagram {
    background-position: -67px -8px;
}

.icon-youtube {
    background-position: -125px -8px;
}

.icon-tik-tok {
    width: 36px;
    height: 35px;
    background-image: url('../img/tiktok-logo-orange.png');
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 4px;
    background-size: 35px;
}

.it-hub-font {
    font-variant: small-caps;
}