.impressum {
  margin: 20px auto;
  padding: 25px 30px;
  color: var(--color-text-black);
  font-weight: 300;
}

.impressum h1 {
  font-size: var(--fs-title);
  font-weight: var(--fs-semiBold);
  letter-spacing: -0.04em;
  line-height: 1.1em;
  word-spacing: 0.1em;
  padding-bottom: 20px;
  text-align: center;
}

.impressum-data {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

.impressum-map-link {
  font-weight: var(--fw-medium);
}

.impressum-data h2 {
  margin-top: 25px;
  text-align: left;
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
  margin-bottom: 10px;
}

.impressum-data p, .impressum-data li {
  font-size: var(--fs-normal);
}

.impressum-data a {
  font-size: var(--fs-normal);
  text-decoration: none;
}

@media screen and (min-width: 481px) {
  .impressum {
    padding: 25px 50px;
  }
}

@media screen and (min-width: 810px) {
  .impressum {
    padding: 25px 100px;
  }
}
