<header id="header" class="header" style="position: relative">
    <div id="header-menu" class="header-container" style="justify-content: center">
        <a href="/html/index.html" class="header-logo-link">
            <img src="./src/img/logo.png" alt="logo" height="34" class="header-logo" />
        </a>
    </div>
</header>

<section>
    <div class="impressum">
        <h1>Datenschutzerklärung</h1>

        <div class="impressum-data">

            <h2>1. Allgemeine Hinweise und Pflichtinformationen</h2>


            <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln
                Ihre
                personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
                sowie
                dieser Datenschutzerklärung.</p>
            <br>
            <p><b>Verantwortliche Stelle im Sinne der Datenschutzgesetze:</b></p>
            <p><b>Inhaber:</b> Zhulyk Dmytro</p>
            <p><b>Adresse:</b> Hessenstraße 68</p>
            <p><b>Telefon:</b> +49 160 91435988</p>
            <p><b>E-Mail-Adresse:</b> xora.office@gmail.com</p>

            <h2>2. Erhebung und Verarbeitung personenbezogener Daten</h2>

            <p>Personenbezogene Daten sind alle Informationen, die auf Sie persönlich beziehbar sind, wie z.B. Name,
                Adresse, E-Mail-Adresse, Telefonnummer oder Nutzungsverhalten.</p>
            <p>Wir erheben personenbezogene Daten, wenn Sie unsere Webseite besuchen oder mit uns in Kontakt treten
                (z.B. durch Anfragen oder Anmeldung zu unserem Newsletter). Zu den verarbeiteten Daten können
                gehören:</p>
            <ul style="list-style: disc; list-style-position: inside;">
                <li>Name, Vorname</li>
                <li>E-Mail-Adresse</li>
                <li>IP-Adresse</li>
                <li>Nutzungsdaten (wie besuchte Seiten, IP-Adressen, verwendete Geräte)</li>
            </ul>


            <h2>3. Verwendung von Cookies</h2>

            <p>Unsere Website verwendet Cookies, um die Nutzererfahrung zu verbessern und bestimmte Funktionen
                bereitzustellen. Cookies sind kleine Textdateien, die auf Ihrem Endgerät gespeichert werden. Sie
                können die Verwendung von Cookies in Ihrem Browser jederzeit deaktivieren, was jedoch zu
                Einschränkungen der Nutzung unseres Angebots führen kann.</p>


            <h2>4. Verwendung von Google Analytics</h2>

            <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google
                Analytics verwendet Cookies, die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die
                durch das Cookie erzeugten Informationen über die Benutzung dieser Website werden an einen Server
                von Google in den USA übertragen und dort gespeichert.</p>


            <h2>5. Social Media Plugins</h2>

            <p>Auf unserer Website verwenden wir Plugins von sozialen Netzwerken wie Facebook, Instagram, LinkedIn
                und anderen. Diese Plugins können personenbezogene Daten erheben, wenn sie aktiv verwendet werden
                (z.B. durch das Klicken auf einen "Gefällt mir"-Button). Weitere Informationen finden Sie in der
                Datenschutzerklärung des jeweiligen Netzwerks.</p>


            <h2>6. Weitergabe von Daten</h2>

            <p>Ihre personenbezogenen Daten werden nicht ohne Ihre ausdrückliche Zustimmung an Dritte weitergegeben,
                außer es ist für die Abwicklung unseres Angebots erforderlich (z.B. Zahlungsdienstleister,
                E-Mail-Marketing-Tools).</p>


            <h2>7. Ihre Rechte</h2>

            <p>Sie haben das Recht, jederzeit Auskunft über die bei uns gespeicherten personenbezogenen Daten zu
                erhalten, deren Berichtigung oder Löschung zu verlangen, sowie die Verarbeitung Ihrer Daten
                einzuschränken oder zu widerrufen.</p>
            <p>Um Ihre Rechte auszuüben, können Sie uns jederzeit unter den oben angegebenen Kontaktdaten erreichen.
            </p>


            <h2>8. Änderungen der Datenschutzerklärung</h2>

            <p>Wir behalten uns vor, diese Datenschutzerklärung jederzeit zu ändern, um sie an aktuelle rechtliche
                Anforderungen oder Änderungen unserer Leistungen anzupassen.</p>


        </div>
    </div>
</section>