<section class="section-faq" data-faq-name="Section/FAQ" id="faq">
  <div class="container faq-container">
    <div class="faq-left">
      <div class="faq-content">
        <div class="faq-top">
          <div class="faq-dark-tag direct" data-endpoint="faq/faq">
            <p class="faq-text">FAQ</p>
          </div>
          <h2 class="faq-title-h2">
            Häufig gestellte
            <span class="faq-span-h2">Fragen</span>
          </h2>
        </div>
        <p class="faq-text-base">
          Hast du noch Fragen? In unserem FAQ-Bereich findest du schnelle
          Antworten auf die am häufigsten gestellten Fragen.
        </p>
      </div>
    </div>
    <div class="faq-right"></div>
  </div>
</section>
