<footer id="footer">

    <div id="" class="footer-container">
        <div class="footer-logo-div">
            <a href="/" class="">
                <img src="./src/img/IMG_logo.png" alt="Xora Media logo" class="footer-logo-img">
            </a>
        </div>

        <div id="footer-menu" class="footer-grid-container">
            <div class="footer-links-container">
                <div>
                    <a href="" class="footer-link">Impressum</a>
                </div>
                <div>
                    <a href="" class="footer-link">Datenschutz</a>
                </div>
                <div>
                    <a href="" class="footer-link">AGB</a>
                </div>
            </div>
            <div class="footer-page-design-by">
                <p>Website & Design by</p>
                <p><a href="https://www.instagram.com/hub_it_community?igsh=emZoMWN2cTI3NTkz" class="footer-link">
                        <img src="./src/img/hub_it_logo.jpg" alt="IT Hub Logo" class="it-hub-logo"></img>
                        Team Digital IT Hub Würzburg</a>
                </p>
            </div>
            <div class="footer-media-icons">
                <p>© 2025 Xora Media GmbH</p>
                <div class="sprite-div">
                    <a href="" class="footer-link">
                        <span class="icons-sprite icon-fb" alt="Facebook link"></span>
                    </a>
                    <a href="https://www.instagram.com/zauber_produktion/" class="footer-link">
                        <span class="icons-sprite icon-instagram" alt="Instagram link"></span>
                    </a>
                    <a href="" class="footer-link">
                        <span class="icons-sprite icon-youtube" alt="You Tube channel link"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>