<footer id="footer">

    <div class="footer-container">
        <div class="footer-logo-div">
            <a href="/html/index.html" class="">
                <img src="./src/img/logo.png" alt="Xora Media logo" class="footer-logo-img">
                <!-- <img src="./src/img/logo-black.png" alt="Xora Media logo" class="footer-logo-img"> -->
            </a>
        </div>

        <div id="footer-menu" class="footer-grid-container">
            <ul class="footer-links-container">
                <li>
                    <a href="/html/impressum.html" class="footer-link">Impressum</a>
                </li>
                <li class="desktop-line-divider">&#8226;</li>
                <li>
                    <a href="/html/datenshutz.html" class="footer-link">Datenschutz</a>
                </li>
            </ul>
            <div class="footer-page-design-by">
                <p>Website & Design by</p>
                <p class="it-hub-font"><a href="https://www.instagram.com/digital_it_hub_wu/#" target="_blank" class="footer-link">
                        <img src="./src/img/hub_it_logo.jpg" alt="IT Hub Logo" class="it-hub-logo">
                        Digital IT Hub Würzburg e.V</a>
                </p>
            </div>
            <div class="footer-media-icons">
                <p>&copy; 2025 Xora Media GmbH</p>
                <div class="sprite-div">
                    <a href="" target="_blank" class="footer-link">
                        <span class="icons-sprite icon-tik-tok" aria-label="Facebook link"></span>
                    </a>
                    <a href="https://www.instagram.com/zauber_produktion/" target="_blank" class="footer-link">
                        <span class="icons-sprite icon-instagram" aria-label="Instagram link"></span>
                    </a>
                    <a href="https://www.youtube.com/@Xoramedia" target="_blank" class="footer-link">
                        <span class="icons-sprite icon-youtube" aria-label="You Tube channel link"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>