<section id="formular-modal" class="formular-class-modal">
  <div class="formular-modal-content">
    <h2 class="formular-title">Kostenloses Gespräch sichern</h2>

    <form
      id="inquiry-form"
      action="https://formspree.io/f/xzzkpldb"
      method="POST"
      class="formular-container"
    >
      <div class="formular-input-group">
        <label class="formular-label" for="name">Dein Name</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="Max Mustermann"
        />
      </div>

      <div class="formular-input-group">
        <label class="formular-label" for="company">Firma</label>
        <input
          type="text"
          id="company"
          name="company"
          placeholder="Deine Firma"
        />
      </div>

      <div class="formular-input-group">
        <label class="formular-label" for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          placeholder="Deine E-Mail-Adresse"
        />
      </div>

      <div class="formular-input-group">
        <label class="formular-label" for="phone">Telefon</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          placeholder="+49 123 4567890"
        />
      </div>

      <div class="formular-input-group">
        <label class="formular-label" for="message">Frage</label>
        <textarea
          class="textarea-comment"
          id="message"
          name="message"
          rows="3"
          placeholder="Deine Frage..."
        ></textarea>
      </div>

      <button type="submit" class="formular-cta-button formular-link">
        <span class="formular-link-title">
          Jetzt Erstgespräch vereinbaren
        </span>
      </button>
    </form>
  </div>
</section>
