<header id="header" class="header direct" data-endpoint="">
  <div id="header-menu" class="header-container">
    <a href="#hero" class="header-logo-link">
      <img
        src="./src/img/logo-x.png"
        alt="logo"
        height="34px"
        class="header-logo"
      />
    </a>

    <nav id="nav" class="header-navigation">
      <ul class="header-navigation-list">
        <li>
          <a href="#services" class="header-navigation-link"
            >Dienstleistungen</a
          >
        </li>
        <li>
          <a href="#problems" class="header-navigation-link"
            >Herausforderungen</a
          >
        </li>

        <li>
          <a href="#advantages" class="header-navigation-link">Warum wir</a>
        </li>

        <li>
          <a href="#our_company" class="header-navigation-link">Über uns</a>
        </li>
      </ul>
      <div class="header-formular-link-thumb">
        <a href="#formular-modal" class="header-formular-link formular-link">
          <span class="formular-link-title"
            >Jetzt Erstgespräch vereinbaren</span
          >
        </a>
      </div>
    </nav>
    <button id="menu-btn" class="header-navigation-btn" type="button"></button>
    <ul class="header-contacts-list">
      <li>
        <a
          href="mailto:xora.office@gmail.com"
          class="header-contacts-link mail"
        >
          <svg width="20">
            <use href="./src/img/sprite.svg#icon-envelop" />
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/xora_media?igsh=MXYxcTg1eGh0djR4ZQ=="
          class="header-contacts-link insta"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="20">
            <use href="./src/img/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
