<header id="header" class="header">
  <div id="header-menu" class="header-container">
    <a href="#hero" class="header-logo-link">
      <img
        src="./src/img/logo.png"
        alt="logo"
        height="34"
        class="header-logo"
      />
    </a>

    <nav id="nav" class="header-navigation">
      <ul class="header-navigation-list">
        <li>
          <a href="#advantages" class="header-navigation-link">Warum wie</a>
        </li>
        <li>
          <a href="#portfolio" class="header-navigation-link">Portfolio</a>
        </li>
        <li><a href="#faq" class="header-navigation-link">FAQ</a></li>
        <li>
          <a href="#our_company" class="header-navigation-link">Über uns</a>
        </li>
      </ul>
      <div class="header-formular-link-thumb">
        <a href="./formular/" class="header-formular-link">
          <span class="header-formular-link-title">Zum Erstgespräch</span>
          <span class="header-formular-link-title"> - nur 60 Sekunden</span>
        </a>
      </div>
    </nav>
    <button id="menu-btn" class="header-navigation-btn" type="button"></button>
    <ul class="header-contacts-list">
      <li>
        <a href="mailto:xora.office@gmail.com" class="header-contacts-link mail">
          <svg width="20">
            <use href="./src/img/sprite.svg#icon-envelop" />
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/zauber_produktion" class="header-contacts-link insta" target="_blank"
          rel="noopener noreferrer">
          <svg width="20">
            <use href="./src/img/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
