<header id="header" class="header">
  <div id="header-menu" class="header-container">
    <div class="header-logo-thumb">
      <a href="/html" class="header-logo-link">
        <img src="./src/img/logo.png" alt="logo" height="34" class="header-logo">
      </a>
    </div>
    <nav id="nav" class="header-navigation visually-hidden">
      <ul class="header-navigation-list">
        <li><a href="#advantages" class="header-navigation-link">Warum wie</a></li>
        <li><a href="#portfolio" class="header-navigation-link">Portfolio</a></li>
        <li><a href="" class="header-navigation-link">Unser Prozess</a></li>
        <li><a href="" class="header-navigation-link">Über uns</a></li>
      </ul>
      <div class="header-formular-link-thumb">
        <a href="./formular/" class="header-formular-link">
          <span class="header-formular-link-title">Zum Erstgespräch</span>
          <span class="header-formular-link-title"> - nur 60 Sekunden</span>
        </a>
      </div>
    </nav>
    <button id="menu-btn" class="header-navigation-btn" type="button"></button>
  </div>

</header>
