<section id="hero" class="hero">
  <div class="hero-content">
    <h1 class="hero-title">
      Xora Media — <br />
      Kreative Content-Fabrik
    </h1>

    <!-- <h1 class="hero-title">
      Xora Media — <br />
      <span>Kreative Content-Fabrik</span>
    </h1> -->

    <p class="hero-text">
      Eine Videomarketing-Agentur aus Bayern, die einzigartige Inhalte für Ihr
      Unternehmen erstellt. Wir helfen Ihnen, den Umsatz zu steigern, das Image
      zu stärken und Ihre Marke durch Videoinhalte zu entwickeln, die
      Aufmerksamkeit erregen und Engagement fördern.
    </p>

    <h3 class="hero-subtitle">
      Wir erstellen Videoinhalte, die zu einem kraftvollen Instrument für die
      Erreichung Ihrer Ziele werden.
    </h3>

    <a href="#formular-modal" class="formular-link">
      <span class="formular-link-title">Jetzt Erstgespräch vereinbaren</span>
    </a>
  </div>

  <div class="hero-video">
    <a
      class="hero-play"
      href="https://www.youtube.com/shorts/a2xNXxVsmik?feature=share"
      target="_blank"
      rel="noopener noreferrer"
      >▶</a
    >
  </div>
</section>
