<section>
    <div class="impressum">
        
            <h1>Impressum</h1>
        
        <div class="impressum-data">
            <h4>Inhaber</h4>
            <p>Zhulyk Dmytro</p>

            <h4>Adresse</h4>
            <p>Xora Media GmbH<br>
                Hessenstraße 68<br>
                97078 Würzburg</p>

            <h4>Kontakt</h4>
            <p>Telefon: +49 160 91435988<br>
                E-Mail: produktionzauber@gmail.com</p>

            <h4>Steuernummer</h4>
            <p>257/292/71929</p>

            <h4>Umsatzsteuer-ID</h4>
            <p>USt.-befreit nach §19 UStG</p>

        </div>
    </div>
</section>