<section id="our_company" class="our_company">
  <div class="container our_company-content">
    <h2 class="our_company-title">Unser Team</h2>

    <ul class="our_company-list">
      <li class="our_company-card">
        <img
          src="./src/img/team/zhulyk_dmytro.jpg"
          alt="Founder Zhulyk Dmytro"
          class="our_company-image"
          width="220"
        />
        <h3 class="our_company-subtitle">Zhulyk Dmytro</h3>
        <p class="our_company-text">Founder</p>
      </li>

      <li class="our_company-card">
        <img
          src="./src/img/team/artem_berkalov.jpg"
          alt="Director & Operator Artem Berkalov"
          class="our_company-image"
          width="220"
        />
        <h3 class="our_company-subtitle">Artem Berkalov</h3>
        <p class="our_company-text">Director & Operator</p>
      </li>

      <li class="our_company-card">
        <img
          src="./src/img/team/anna_zavgorodnya.jpg"
          alt="Photographer & Operator Anna Zavgorodnya"
          class="our_company-image"
          width="220"
        />
        <h3 class="our_company-subtitle">Anna Zavgorodnya</h3>
        <p class="our_company-text">Photographer & Operator</p>
      </li>

      <li class="our_company-card">
        <img
          src="./src/img/team/vitaly_pisarenko.jpg"
          alt="Editor (Montager) Vitaly Pisarenko"
          class="our_company-image"
          width="220"
        />
        <h3 class="our_company-subtitle">Vitaly Pisarenko</h3>
        <p class="our_company-text">Editor (Montager)</p>
      </li>

      <li class="our_company-card">
        <img
          src="./src/img/team/oleksiy_omelyanovych.jpg"
          alt="Marketing Director Oleksiy Omelyanovych"
          class="our_company-image"
          width="220"
        />
        <h3 class="our_company-subtitle">Oleksiy Omelyanovych</h3>
        <p class="our_company-text">Marketing Director</p>
      </li>
    </ul>

    <a href="#formular-modal" class="formular-link">
      <span class="formular-link-title">Jetzt Erstgespräch vereinbaren</span>
    </a>
  </div>
</section>
