<section id="our_company" class="our_company">
  <div class="container">
    <div class="our_company-content">
      <h2 class="our_company-title">Unser Team</h2>

      <ul class="our_company-list">
        <li class="our_company-card">
          <img src="../img/team1.jpg" alt="Founder" class="our_company-image" />
          <h3 class="our_company-subtitle">Dmytro</h3>
          <p class="our_company-text">Founder</p>
        </li>

        <li class="our_company-card">
          <img
            src="../img/team2.jpg"
            alt="Marketing Director"
            class="our_company-image"
          />
          <h3 class="our_company-subtitle">Anna</h3>
          <p class="our_company-text">Marketing Director</p>
        </li>

        <li class="our_company-card">
          <img
            src="../img/team3.jpg"
            alt="Director & Operator"
            class="our_company-image"
          />
          <h3 class="our_company-subtitle">Markus</h3>
          <p class="our_company-text">Director & Operator</p>
        </li>

        <li class="our_company-card">
          <img
            src="../img/team4.jpg"
            alt="Photographer & Operator"
            class="our_company-image"
          />
          <h3 class="our_company-subtitle">Sophie</h3>
          <p class="our_company-text">Photographer & Operator</p>
        </li>

        <li class="our_company-card">
          <img src="../img/team5.jpg" alt="Editor" class="our_company-image" />
          <h3 class="our_company-subtitle">Lukas</h3>
          <p class="our_company-text">Editor (Montager)</p>
        </li>
      </ul>

      <a href="./formular/" class="formular-link">
        <span class="formular-link-title">Jetzt Erstgespräch vereinbaren</span>
      </a>
    </div>
  </div>
</section>
