<section id="portfolio" class="portfolio">
  <div class="portfolio-info">
    <p class="portfolio-title direct" data-endpoint="video/video">
      Beispiele aus der Praxis
    </p>
    <h2 class="portfolio-subtitle">So sehen <span>One Lean Filme</span> aus</h2>
    <p class="portfolio-description">
      Unsere One Lean Filme kombinieren <strong>kreative Exzellenz</strong> mit
      Verkaufspsychologie –
      <strong
        >so überzeugst du deine Zielgruppe in nur 60 Sekunden und erhältst
        täglich neue Anfragen für dein Unternehmen.</strong
      >
    </p>
  </div>
  <div class="gallery-container">
    <div class="gallery-dropdown-container">
      <button
        type="button"
        class="gallery-dropdown-button"
        id="categories-button"
      >
        <span class="gallery-dropdown-title">Klicke hier für mehr Videos</span>
      </button>
      <ul class="gallery-categories hidden" id="video-categories"></ul>
    </div>

    <ul class="gallery-list" id="videos"></ul>
    <div id="pagination">
      <button class="formular-link" id="portfolio-prev-btn">← Prev</button>
      <div id="portfolio-dots"></div>
      <button class="formular-link" id="portfolio-next-btn">Next →</button>
    </div>
  </div>
  <a href="/formular" class="formular-link">
    <span class="formular-link-title">Jetzt Erstgespräch vereinbaren</span>
  </a>
</section>
