<section class="portfolio">
  <div>
    <h2>Beispiele aus der Praxis</h2>
    <h3>So sehen <span>One Lean Filme</span> aus</h3>
    <p>
      Unsere One Lean Filme kombinieren <strong>kreative Exzellenz</strong> mit
      Verkaufspsychologie –
      <strong
        >so überzeugst du deine Zielgruppe in nur 60 Sekunden und erhältst
        täglich neue Anfragen für dein Unternehmen.</strong
      >
    </p>
  </div>
  <div>
    <button type="button" class="gallery-gropdown">
      <span class="gallery-gropdown-title">Klicke hier für mehr Videos</span>
    </button>
    <ul class="gallery" id="videos"></ul>
  </div>
  <a href="./formular/" class="formular-link">
    <span class="formular-link-title">Jetzt Erstgespräch vereinbaren</span>
  </a>
</section>
