<section class="portfolio">
  <div class="portfolio-info">
    <h3 class="portfolio-title">Beispiele aus der Praxis</h3>
    <h2 class="portfolio-subtitle">So sehen <span>One Lean Filme</span> aus</h2>
    <p class="portfolio-description">
      Unsere One Lean Filme kombinieren <strong>kreative Exzellenz</strong> mit
      Verkaufspsychologie –
      <strong
        >so überzeugst du deine Zielgruppe in nur 60 Sekunden und erhältst
        täglich neue Anfragen für dein Unternehmen.</strong
      >
    </p>
  </div>
  <div class="gallery-container">
    <button type="button" class="gallery-dropdown">
      <span class="gallery-dropdown-title">Klicke hier für mehr Videos</span>
    </button>

    <ul class="gallery-list" id="videos"></ul>
  </div>
  <a href="/formular" class="formular-link">
    <span class="formular-link-title">Jetzt Erstgespräch vereinbaren</span>
  </a>
</section>
