<section class="xora-prezentationps" id="prezentationps">
  <div class="container xmpr-container">
    <div class="xmpr-title-block">
      <div class="faq-dark-tag">
        <p class="faq-text">Was wir anbieten</p>
      </div>
      <h2 class="xmpr-title-h2">
        Wir verwandeln
        <span class="xmpr-span-h2"> Aufmerksamkeit in Handlung</span>
      </h2>

      <p class="xmpr-text-base">
        <strong>Xora Media</strong> produziert Videos, die in der
        <strong>Social-Media-Ökosphäre</strong> funktionieren – dort, wo
        Entscheidungen getroffen werden. Jeder Clip ist
        <strong>nicht nur ein schönes Bild</strong>, sondern ein
        <strong>Marketinginstrument</strong>, das auf
        <strong>Daten, Emotionen und Wahrnehmungspsychologie</strong>
        basiert.<br />
        Wir wissen, wie man <strong>Aufmerksamkeit hält</strong>,
        <strong>Vertrauen schafft</strong> und den Zuschauer zu einer Handlung
        bewegt – sei es eine
        <strong>Anfrage, ein Abonnement oder ein Kauf</strong>.
      </p>
    </div>
    <div class="xmpr-wrap">
      <canvas id="beamsCanvas"></canvas>
      <ul class="xmpr-list" id="videosRow">
        <li class="xmpr-item">
          <div class="xvideo-container" id="videoLeft">
            <video
              class="xmpr-video"
              src="/html/src/video/video1.webm"
              muted
              loop
              playsinline
              preload="none"
              poster="./src/img/presentation1.jpg"
            ></video>
          </div>
          <h4 class="xmpr-titl-h4">
            Werbe<span class="xmpr-span-h4">filme</span>
          </h4>
        </li>
        <li class="xmpr-item">
          <div class="xvideo-container" id="videoCenter">
            <video
              class="xmpr-video"
              src="/html/src/video/video2.webm"
              autoplay
              muted
              loop
              playsinline
              preload="auto"
              poster="./src/img/presentation2.jpg"
            />
          </div>
          <h4 class="xmpr-titl-h4">
            You<span class="xmpr-span-h4">Tube</span>
          </h4>
        </li>
        <li class="xmpr-item">
          <div class="xvideo-container" id="videoRight">
            <video
              class="xmpr-video"
              src="/html/src/video/video3.webm"
              muted
              loop
              playsinline
              preload="auto"
              poster="./src/img/presentation3.jpg"
            />
          </div>
          <h4 class="xmpr-titl-h4">
            Image<span class="xmpr-span-h4">filme</span>
          </h4>
        </li>
      </ul>
    </div>
    <div class="xora-wrap">
      <ul class="social-circle" id="socialContainer"></ul>
      <div class="xora-bottom-text">
        <h2 class="xora-subtitle">
          Indem wir Kreativität und Strategie vereinen, sorgen wir dafür, dass
          Ihre Marke gehört wird, im Gedächtnis bleibt und verkauft.
        </h2>
        <p class="xora-subtext">
          Damit Sie nicht nur Views erhalten, sondern echte Anfragen, neue
          Kunden und starke Bewerber.
        </p>
      </div>
    </div>
    <a href="/html/formular/" class="formular-link">
      <span class="formular-link-title">Jetzt Erstgespräch vereinbaren</span>
    </a>
  </div>
</section>
