<section id="work-steps" class="work-steps">
    <div class="work-steps-section-container">
        <h2 class="work-steps-title">
            <span>Unser&nbsp;</span><span>Workflow</span>
        </h2>

        <div class="work-steps-list-container">

            <div class="work-steps-oneStep-card">
                <div class="work-steps-oneStep-card-inner">
                    <div class="ws-card-front">
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-header-front">
                            <p>Schritt 1. Anwendung</p>
                        </div>
                        <div class="ws-line-divider"></div>
                    </div>

                    <div class="ws-card-back">
                        <div class="work-steps-oneStep-header">
                            <p>1. Anwendung</p>
                        </div>
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-description">
                            <p>
                                Stellen Sie eine <span>Anfrage</span> über unsere Website oder kontaktieren Sie uns über
                                Social
                                Media.<br> Wir melden uns bei Ihnen, um das gewünschte Videoformat und Ihre Ziele zu
                                besprechen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="work-steps-oneStep-card">
                <div class="work-steps-oneStep-card-inner">
                    <div class="ws-card-front">
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-header-front">
                            <p>Schritt 2. Beratung</p>
                        </div>
                        <div class="ws-line-divider"></div>
                    </div>

                    <div class="ws-card-back">
                        <div class="work-steps-oneStep-header">
                            <p>2. Beratung</p>
                        </div>
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-description">
                            <p>
                                Wir besprechen die Idee, die Zielgruppe und den Stil des zukünftigen Videos.<br>
                                Wir helfen Ihnen bei der Wahl des Formats, der Länge und der Plattform für die
                                Veröffentlichung.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="work-steps-oneStep-card">
                <div class="work-steps-oneStep-card-inner">
                    <div class="ws-card-front">
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-header-front">
                            <p>Schritt 3. Kommerzielles Angebot</p>
                        </div>
                        <div class="ws-line-divider"></div>
                    </div>

                    <div class="ws-card-back">
                        <div class="work-steps-oneStep-header">
                            <p>3. Kommerzielles Angebot</p>
                        </div>
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-description">
                            <p>
                                Wir erstellen Ihnen ein übersichtliches Angebot mit allen Phasen, Fristen und
                                Kosten.<br>
                                Sie wissen genau, was die Arbeit beinhaltet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="work-steps-oneStep-card">
                <div class="work-steps-oneStep-card-inner">
                    <div class="ws-card-front">
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-header-front">
                            <p>Schritt 4. Dreharbeiten und Postproduktion</p>
                        </div>
                        <div class="ws-line-divider"></div>
                    </div>

                    <div class="ws-card-back">
                        <div class="work-steps-oneStep-header">
                            <p>4. Dreharbeiten und Postproduktion</p>
                        </div>
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-description">
                            <p>
                                Wir drehen und übernehmen anschließend Schnitt, Farbkorrektur, Ton und Grafik.<br>
                                Sie erhalten ein fertiges Video, angepasst an die gewünschten Plattformen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="work-steps-oneStep-card">
                <div class="work-steps-oneStep-card-inner">
                    <div class="ws-card-front">
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-header-front">
                            <p>Schritt 5. Veröffentlichung und Analyse</p>
                        </div>
                        <div class="ws-line-divider"></div>
                    </div>

                    <div class="ws-card-back">
                        <div class="work-steps-oneStep-header">
                            <p>5. Veröffentlichung und Analyse</p>
                        </div>
                        <div class="ws-line-divider"></div>
                        <div class="work-steps-oneStep-description">
                            <p>
                                Wir unterstützen Sie bei der Veröffentlichung von Videos, der Formatierung von
                                Beschreibungen
                                und
                                der Vergabe von Tags.<br>
                                Wir analysieren die Ergebnisse und geben Empfehlungen für weiteres Wachstum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>