.formular-container {
    width: 100%;
    padding: 35px;
    border-radius: 16px;
}

.formluar-input-group {
    margin-bottom: 20px;
}


.formular-title{
    color: var(--color-text-white);
    text-shadow: 0 0 18px var(--token-eb7b6d97-3952-433e-81bb-c192cbbf1822);
}

.formular-label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.875rem; /* text-sm */
    font-weight: 600;
    color: #FFFFFF;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    background-color: var(--bgcolor-secondary);
    border: 1px solid var(--color-text-white);
    color: var(--color-text-white);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

textarea {
  width: 100%;
  padding: 12px;
  background-color: var(--bgcolor-secondary); 
  border: 1px solid var(--color-text-white);
  color: var(--color-text-white);
  border-radius: 10px;
  resize: vertical; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

textarea::placeholder {
  color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
}

textarea:focus {
  outline: none;
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgb(238, 93, 219);
}


input::placeholder {
    color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
}

input:focus {
  outline: none;
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgb(238, 93, 219);
}

/* ---------------------------------- */
/* CTA BUTTON */
/* ---------------------------------- */
.formular-cta-button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: var(--token-a235945a-b267-4393-9124-089017da9783);
    color: var(--color-background-dark); 
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #FFFFFF;

    transition: background-color 0.2s, transform 0.2s;
}

.cta-button:hover {
    background-color: var(--token-35c72760-ab33-4607-b96d-ed9b98f8a0d9); 
    transform: translateY(-2px);
}


.formular-class-modal {
  /* position: fixed; */ 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1; 
  /* pointer-events: none; */
  transition: opacity 0.3s ease;
}

/*
.modal.show {
  opacity: 1;
  pointer-events: all;
}
*/

.modal-content {
  background-color: rgb(17, 17, 17);
  padding: 35px;
  border-radius: 16px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

/*
.modal.show .modal-content {
  transform: scale(1);
}
*/

/* .modal-hidden { 
  display: none;
} */ /* */

