/* ---------------------------------- */
/* FORMULAR STYLES */
.contact-grid-formular {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.section-background {
    
    background-color: #F3F4F6; 
    padding: 60px 0; 
}

.info-container {
    padding: 35px;
    background-color: rgb(17, 17, 17);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}


.info-container h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1rem;
    color: #FFFFFF;
}


.form-container {
    width: 100%;
    padding: 35px;
    background-color: rgb(17, 17, 17);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.875rem; /* text-sm */
    font-weight: 600;
    color: #FFFFFF;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    background-color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

input:focus {
    outline: none;
    border-color: var(--token-a235945a-b267-4393-9124-089017da9783);
    box-shadow: 0 0 0 3px rgba(0, 134, 203, 0.4); /* Glow effect on focus */
}

/* ---------------------------------- */
/* CTA BUTTON */
/* ---------------------------------- */
.cta-button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: var(--token-a235945a-b267-4393-9124-089017da9783);
    color: var(--color-background-dark); 
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #FFFFFF;
    box-shadow: 0 0 0 3px rgba(0, 134, 203, 0.4); /* Glow effect on focus */

    transition: background-color 0.2s, transform 0.2s;
}

.cta-button:hover {
    background-color: var(--token-35c72760-ab33-4607-b96d-ed9b98f8a0d9); 
    transform: translateY(-2px);
}
