/* .form-container {
  width: 100%;
  padding: 40px 16px;
  border-radius: 16px;
} */

  @media (min-width: 768px) {
    padding: 40px;
    max-width: 900px;
  }
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.875rem; /* text-sm */
  font-weight: 600;
  color: #ffffff;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  width: 100%;
  padding: 12px;
  background-color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

textarea {
  width: 100%;
  padding: 12px;
  background-color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  resize: vertical;
  transition: border-color 0.2s, box-shadow 0.2s;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

textarea:focus {
  outline: none;
  border-color: var(--token-a235945a-b267-4393-9124-089017da9783);
  box-shadow: 0 0 0 3px rgba(0, 134, 203, 0.4); /* Glow effect on focus */
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input:focus {
  outline: none;
  border-color: var(--token-a235945a-b267-4393-9124-089017da9783);
  box-shadow: 0 0 0 3px rgba(0, 134, 203, 0.4); /* Glow effect on focus */
}

/* ---------------------------------- */
/* CTA BUTTON */
/* ---------------------------------- */
/* .cta-button {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: var(--token-a235945a-b267-4393-9124-089017da9783);
  color: var(--color-background-dark);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 134, 203, 0.4);
  transition: background-color 0.2s, transform 0.2s;
}
 
.cta-button:hover {
  background-color: var(--token-35c72760-ab33-4607-b96d-ed9b98f8a0d9);
  transform: translateY(-2px);
} */

.cta-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 100%;
  max-width: 450px;
  font-size: 1.125rem;
  height: 50px;
  color: var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4);
  background-image: var(--link-bg-color);
  text-decoration: none;
  border: 1px solid var(--token-a235945a-b267-4393-9124-089017da9783);
  border-radius: 10px;
  box-shadow: var(--formular-link-shadow);
  overflow: hidden;
}

.cta-button::before {
  position: absolute;
  top: -30px;
  left: center;
  content: '';
  width: 30px;
  height: 100px;
  background-image: var(--link-animation-color);
  transform: rotate(27deg);
  opacity: 0;
  animation: lightning 5s infinite ease-out;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  overflow-y: auto;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  background-color: rgb(17, 17, 17);
  padding: 40px 14px;
  margin: 0 auto;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  /* transform: scale(0.9); */
  transition: transform 0.3s ease;

  @media (min-width: 768px) {
    padding: 40px;
  }
}

.modal.show .modal-content {
  transform: scale(1);
}

.modal-hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
  transform: rotate(0deg);
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
  
  &:hover {
    color: red;
    transform: rotate(90deg);
    transition: all 0.3s ease;
  }
}

