.portfolio {
  padding: 128px 20px;
  text-align: center;
}

.gallery-container {
  position: relative;
}

.gallery-gropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 48px 12px 28px;
  height: 50px;
}

.gallery-gropdown-title::after {
  position: absolute;
  right: 8px;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../img/dropdown-arrow.svg);
  align-self: center;
}

.gallery-categories {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-list {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}

.video-container iframe {
  width: 100%;
  aspect-ratio: 9 / 16;
  border: none;
  border-radius: 10px;
}

.video-title {
  text-align: center;
  margin-top: 0.5rem;
}
