#work-steps {
    background-color: var(--bgcolor-secondary);
}

.work-steps-section-container {
    min-width: 320px;
    max-width: 450px;
    margin: 0 auto;
    padding: 42px 20px;
}

.work-steps-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: var(--fw-semiBold);
    font-size: var(--fs-title);
    line-height: 1.1;
    margin: 0 auto 30px;
}

.work-steps-title span:last-child {
    color: var(--color-text-white);
}

.work-steps-list-container {
    max-width: 400px;
    margin: 0 auto;
}

.work-steps-oneStep-card {
    width: 100%;
    height: 280px;
    background-image: var(--card-bg-color);
    border-radius: 24px;
    padding: 10px 30px;
    margin: 20px auto;
    perspective: 1000px;
}

.work-steps-oneStep-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease 0.1s;
    transform-style: preserve-3d;
}

.ws-card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.ws-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.work-steps-oneStep-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.work-steps-oneStep-card.visible .work-steps-oneStep-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.work-steps-oneStep-card:nth-child(2) .work-steps-oneStep-card-inner {
    transition-delay: 1s;
}

.work-steps-oneStep-card:nth-child(3) .work-steps-oneStep-card-inner {
    transition-delay: 2s;
}

.work-steps-oneStep-card:nth-child(4) .work-steps-oneStep-card-inner {
    transition-delay: 3s;
}

.work-steps-oneStep-card:nth-child(5) .work-steps-oneStep-card-inner {
    transition-delay: 4s;
}


.work-steps-oneStep-header-front {
    /* height: 100%; */
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: var(--fs-subtitle);
    font-weight: 400;
    line-height: 1.2;
    color: var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4);
}

.work-steps-oneStep-header {
    margin: 5px;
    padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-secondary);
    /* font-size: 24px; */
    line-height: 1.2;
    color: var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4);
}

.ws-line-divider {
    height: 2px;
    width: 100%;
    background-image: var(--link-bg-color);
}

.work-steps-oneStep-header p {
    color: var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4);
    text-shadow:
        2px 2px 10px var(--token-a235945a-b267-4393-9124-089017da9783),
        0 0 0.5em var(--token-eb7b6d97-3952-433e-81bb-c192cbbf1822);
}

.work-steps-oneStep-description {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-normal);
    line-height: 1.6;
    color: var(--token-fe970af2-997a-4c76-8490-61d4a6bcf24f);
}

.work-steps-oneStep-description span {
    color: var(--token-9c682c5f-cdc7-48a3-8e8c-85c4246e47a4);
    font-weight: var(--fw-semiBold);
}

@media screen and (min-width: 900px) {

    .work-steps-section-container {
        max-width: 1280px;
        padding: 42px 32px;
    }

    .work-steps-title {
        flex-direction: row;
    }

    .work-steps-list-container {
        max-width: 1280px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .work-steps-oneStep-card {

        width: 400px;
        margin: 10px 0;
        background-image: var(--card-bg-color);
    }

}